body{
top: 0;
left: 0;
}

.sky {
    width: 100%;
    height: 45vh;
    background-image: linear-gradient(skyblue);
}

.road {
    width: 100%;
    height: 300px;
    background: linear-gradient(gray);
}

.road_grass {
    width: 100%;
    height: 190px;
    margin-top: 10px;
    background-image: linear-gradient(green);
}


.traffic_light {
    margin-left: 500px;
    margin-top: 200px; 
}

.grass {
    width: 100%;
    height: 5vh;
    background-image: linear-gradient(green);
}



.car {
   margin-bottom: 100px;
}
/*element to animate*/
#car {
    position:absolute ;
    animation-duration: 4s;
    animation-iteration-count: 3;
    animation-delay: 0s;
    animation-name: car1;
}
@keyframes car1 {
   from{transform:translatex(0px)}
   to{transform: translatex(640);}
}
